/* JSGRID STYLE FIXES */

.jsgrid {
  /* jsgrid likes to force a fixed width in the element's attributes. */
  width: unset !important;
}

.jsgrid, .jsgrid>div, .jsgrid table, .jsgrid tbody, .jsgrid tr, .jsgrid th {
  /* Pretty much everything inside the grid is flex by default. */
  display: flex;
  /* Everything is in columns until we reach the cells themselves. */
  flex-flow: column nowrap;
}

.jsgrid, .jsgrid .jsgrid-grid-body, .jsgrid .jsgrid-grid-header, .jsgrid table, .jsgrid tbody {
  /* Everything is in columns until we reach the cells themselves. */
  flex-flow: column nowrap;
}

.jsgrid tr, .jsgrid th {
  /* Let rows, header and table fill the width. */
  flex: 1;
  flex-flow: row wrap;
}

.jsgrid .jsgrid-row, .jsgrid .jsgrid-alt-row, .jsgrid .jsgrid-edit-row {
  /* Grid cells in row form */
  flex-flow: row nowrap;
  flex: 0 0 auto;
}

.jsgrid tbody {
  /* Force the header to have a scrollbar just like the
  * content, to account for the space taken by it.
  */
  overflow-y: scroll;
}

.jsgrid-grid-header, .jsgrid-grid-header>table, .jsgrid-grid-header>table>tbody {
  /* Prevent header from shrinking. */
  flex: 1 0 auto;
}

.jsgrid-grid-header {
  /* Too small by default, tie it to the font size. */
  height: 1.5em;
  min-height: 1.5em;
  max-height: 1.5em;
}

.jsgrid .jsgrid-cell, .jsgrid .jsgrid-header-cell {
  flex: 1;
  width: unset!important;
  display: flex;
  flex-flow: row nowrap;
  /* Center the content of all cells by default. */
  align-items: center;
  justify-content: center;
  /* This doesn't really works on flex elements -_- */
  text-overflow: ellipsis;
  min-width: 0;
  /* white-space: nowrap; */
  overflow: hidden;
}

.jsgrid-selected-row>.jsgrid-cell {
  /* Hovered row */
  background: #f35800;
  color: white;
}

tr.jsgrid-header-row {
  /* Firefox uses the native styled widget for the scrollbar, so
  * it shows the row 106px tall on a GTK theme for example, force it
  * to be smaller.
  */
  flex: 0 0 auto;
  height: 1.5em;
  /* Add separator between the header and the grid's content. */
  border-bottom: 1px solid #ffece1;
}

.jsgrid .jsgrid-cell, .jsgrid .jsgrid-header-cell {
  /* Very light borders for cells. */
  border-left: 1px solid #ffece1;
}

.jsgrid .jsgrid-cell:first-child, .jsgrid .jsgrid-header-cell:first-child {
  /* Skip setting the border on the first cell of any row. */
  border-left: none;
}

.jsgrid .jsgrid-cell .k-button, .jsgrid .jsgrid-header-cell .k-button {
  /* Add some space in control buttons */
  margin: 0.1em;
}

.jsgrid-edit-row>td>input {
  width: 100%;
}
