/* APP STYLES */

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
  /* ensure it doesn't auto fits to content */
  width: 100vw;
  height: 100vh;
}

.ts-main-header {
  text-align: center;
  min-height: 48px;
  display: flex;
  flex-direction: column;
}

.ts-main-menu, .ts-main-section-container, .ts-main-header {
  /* Margins between the 'inner' sections of the site */
  margin: 2px;
}

.ts-main-header>h1 {
  /* h1 has big margins otherwise */
  margin: auto;
}

.ts-main-content {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.ts-main-menu {
  min-width: 148px;
}

.ts-main-section-container {
  flex: 1 1 auto;
}

.ts-section {
  height: 100%;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

.ts-section-header {
  margin: 0px;
  margin-left: 8px;
}

.ts-section-container {
  margin: 8px;
}

.ts-main-menu-item {
  margin: 4px;
  text-align: right;
}

.ts-lv1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /*transition: all 0.3s cubic-bezier(.25, .8, .25, 1);*/
}

.ts-create-order-split {
  height: calc(100% - 103px);
}

.ts-create-order-split .jsgrid {
  display: flex;
  flex-flow: column;
  /* jsgrid likes to set the height to auto on the element directly */
  height: 100%!important;
  /* jsgrid doesn't takes all the width by default, it also sets it directly in the element */
  width: 100%!important;
}

.ts-create-order-split .jsgrid-grid-header {
  /* This fixes the jsgrid header somehow being smaller than its contents.*/
  overflow: unset;
}

.ts-create-order-drag-component-hint {
  min-width: 140px;
  margin: 1em;
  padding: 1em;
}